<style>
  .subscribe a{
    font-family: var(--header-font);
    font-size: 0.9375rem;
    margin: 1.875rem 0;
    opacity: 1;
    color: var(--text-col);
    border: 1px solid;
    border-color: var(--text-col);
    padding: 5px;
    text-decoration: none;
    font-weight: bold; color: rgb(255, 255, 255); font-size: 16px; text-align: center; background-color: rgb(0, 0, 0); text-transform: none !important;
    justify-content: center !important;
    border-radius: 6px !important;
    box-shadow: 0 5px 25px rgba(34, 60, 47, 0.25) !important;
  }

  .subscribe a:hover{
    opacity: 0.8;
  }
</style>

<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">
  <div>
  <!-- <span style="font-size: 100%">Share: </span> -->

  {% if site.share-links-active.twitter %}
    <a href="https://twitter.com/intent/tweet?text={{ page.title | strip_html | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-twitter" title="Share on X (Twitter)">
      <span class="fab fa-fw fa-x-twitter" aria-hidden="true"></span>
      <span class="sr-only">X (Twitter)</span>
    </a>
  {% endif %}

  {% if site.share-links-active.facebook %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fab fa-fw fa-facebook" aria-hidden="true"></span>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fab fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

  {% if site.share-links-active.vk %}
    <a href="https://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-vk" title="Share on VK">
      <span class="fab fa-fw fa-vk" aria-hidden="true"></span>
      <span class="sr-only">VK</span>
    </a>
  {% endif %}

  {% if site.share-links-active.bluesky %}
    <span class="subscribe"><a href="https://bsky.app/intent/compose?text=I'm sharing this post from @mathprofpeter.bsky.social%0A{{ page.url | absolute_url | url_encode }}"
      class="subscribe" title="Share on BlueSky" target="_blank">
      <span class="fab fa-fw fa-bluesky" aria-hidden="true" style="font-size:100%; color:#41ADFF; background-color:black;"></span>
      <span class="subscribe">Share on BlueSky</span>
      <span class="sr-only">BlueSky</span> 
    </a>
    </span>
  {% endif %}

  {% if site.share-links-active.reddit %}
    <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-reddit" title="Share on Reddit">
      <span class="fab fa-fw fa-reddit" aria-hidden="true"></span>
      <span class="sr-only">Reddit</span>
    </a>
  {% endif %}
    </div>
</section>

{% endif %}